
*
{
    margin: 0px;
    padding: 0px;
}

.box
{
    align-items: center;
    background-color: brown;
    border: solid 2px;
    display: grid;
    height: 100px;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    width: 100px;
}

.box:hover
{
    transform: matrix(1, -0.3, 0, 1, 0, 0);
    /* transform: skewY(20deg); */
    /* transform: scale(1.5); */
    /* transform: rotate(45deg); */
}

.contaner
{
    align-items: center; 
    background-color: yellow;
    display: grid;
    height: 80vh;
    justify-content: center;
}


