.Dropdown
{
    position: relative;
    display: inline-block;
}

.Dropdown_hover  /* Button */
{
    display: inline-block;
}

.dropdown_menu
{
    position: absolute;
    display: none;
    width: 100px;
    border: solid;
}

.Dropdown:hover .dropdown_menu
{
    display: block;
    
}

a{
    display: block;
    
}